.form-check-label
{
	padding-top: calc(.5rem - 1px * 2);
	padding-bottom: calc(.5rem - 1px * 2);
	margin-bottom: 0;
}
.main-header
{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
.main-header h1
{
	font-size: 360%;
	font-family: 'Calistoga', cursive;
	text-align: center;	
}
.main-body
{
	margin-top: 15%;
}
.nav
{
	width:100%;
}
.navbar
{
	border: 1.5px solid gold;
	border-radius: 3px;
	background-color: #7E160A;
	padding-bottom: 0.2%;
	padding-top: 0.2%;
}
.navbar img
{
	border-radius: 4px;
}
.text-right, label
{
	font-family: serif;
	font-weight: bold;
}
@media (min-width: 769px)
{
	.main-header
	{
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
	}

}





